
* {
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.container p {
  font-size: 20px;
}
.top-wrapper {
  padding: 180px 0 165px 0;
  background-image: url(https://media.gettyimages.com/videos/virus-video-id1084114596?s=640x640);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 20px;
}

.btn-wrapper p {
  margin: 10px 0;
}

.cekstatus {
  background-color: white;
  margin-right: 15px;
}

.ceklokasi {
  background-color: white;
  margin-right: 15px;
}

.cekdaerah {
  background-color: white;
  margin-right: 15px;
}

.btn {
  padding: 12px 24px;
  color: rgb(241, 65, 65);
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(247, 81, 39, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.header-left {
  float: left;
  color: white;
  font-size: 40px;
  font-style: inherit;
  padding: 12px 24px;

}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  
}
.lesson-wrapper {
  height: 900px;
  padding-bottom: 120px;
  padding-left: 5%;
  padding-right: 5%;
  background-image: url(https://media.gettyimages.com/videos/virus-video-id1084114596?s=640x640);
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: white;
  
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
  width: auto;
}

.lesson-icon p {
  position: absolute;
  top: 33%;
  width: 100%;
  color: white;
  font-size: 18px;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: white;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
  background-image: url(https://media.gettyimages.com/videos/virus-video-id1084114596?s=640x640);
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}
.heading h3 {
  color:white;
  font-size: 30px;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer a {
  float: left;
  color: rgb(243, 49, 49);
  font-size: 40px;
  font-style: inherit;
  padding: 12px 24px;
}

.footer-right {
  color: #3716f1;
  font-size: 20px;
  float: right;
  padding: 12px 24px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}